/* body {
  font-family: "Exo 2", sans-serif;
  font-weight: 100;
  color: #423d3d;
  line-height: 1.9;
  background-size: 600% 600%;
  background-attachment: fixed;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
  font-weight: 100;
  background-color: rgb(40, 40, 40);
  color: #423d3d;
  line-height: 1.9;
  background-size: 600% 600%;
  background-attachment: fixed;
  justify-content: center;
}

.header {
  text-align: center;
  color: rgb(209, 211, 211);
  margin-top: 90px;
}

.blog-main {
  display: grid;
  grid-template-columns: repeat(3, calc(33.333333333333336% - 14.6667px));
  padding: 2rem;
  width: 100%;
  height: 100%;
}
.blog-container {
  margin: 3rem;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
.blog-container:hover {
  transform: scale(1.05);
  transition: all 0.3s;
  box-shadow: 0px 0px 15px rgba(212, 227, 42, 0.502);
  outline: 5px;
  cursor: pointer;
  z-index: 97;
}

.blog-info {
  padding: 5px;
  text-align: center;
}

.blog-pic {
  padding: 20px;
}
.blogimg {
  width: 100%;
}
.blog-header {
  text-align: center;
}

.blog-footer {
  display: block;
  padding: 2rem;
  justify-content: center;
  text-align: center;
}

.btn {
  color: whitesmoke;
  font-size: larger;
  font-weight: bold;
  background-color: cadetblue;
  padding: 1rem 3rem;
  border-radius: 8px;
}
.btn:link,
.btn:visited {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .blog-main {
    grid-template-columns: repeat(2, calc(50% - 14.6667px));
  }
}

@media screen and (max-width: 540px) {
  .blog-main {
    grid-template-columns: repeat(1, calc(100% - 14.6667px));
  }
}
